<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-primary bg-soft">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary"> Reset Password</h5>
                  <p>Reset Password with Skote.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a href="index.html">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>

            <div class="p-2">
              <form [formGroup]="resetPasswordForm" class="form-horizontal"
                action="https://themesbrand.com/skote-mvc/layouts/index.html">

                <div class="mb-3">
                  <label for="useremail" class="form-label">Email</label>
                  <input formControlName="email" type="email" class="form-control" id="useremail"
                    placeholder="Enter email" required>
                  <div
                    *ngIf="resetPasswordForm.get('email')?.hasError('required') && resetPasswordForm.get('email')?.touched"
                    class="form-text text-danger">
                    {{utility.FormatString(this.validationMessage.RequiredField, 'Email')}}
                    Email.
                  </div>
                </div>

                <div class="mb-3">
                  <label for="userpassword" class="form-label">Password</label>
                  <input formControlName="password" type="password" class="form-control" id="userpassword"
                    placeholder="Enter password" required>
                  <div
                    *ngIf="resetPasswordForm.get('password')?.hasError('required') && resetPasswordForm.get('password')?.touched"
                    class="form-text text-danger">
                    {{utility.FormatString(this.validationMessage.RequiredField, 'Password')}}
                  </div>
                  <div
                    *ngIf="resetPasswordForm.get('password')?.hasError('pattern') && resetPasswordForm.get('password')?.touched"
                    class="form-text text-danger">
                    {{this.validationMessage.ValidPassword}}
                  </div>
                </div>

                <div class="mb-3">
                  <label for="userconfirmpassword" class="form-label">Confirm Password</label>
                  <input formControlName="confirmPassword" type="password" class="form-control" id="userconfirmpassword"
                    placeholder="Enter Confirm password" required>
                  <div
                    *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required') && resetPasswordForm.get('confirmPassword')?.touched"
                    class="form-text text-danger">
                    {{utility.FormatString(this.validationMessage.RequiredField, 'Confirm Password')}}
                  </div>
                  <div
                    *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.get('confirmPassword')?.touched"
                    class="
                    form-text text-danger">
                    {{utility.FormatString(this.validationMessage.MustMatch, 'Password')}}
                  </div>
                </div>

                <div class="text-end">
                  <button class="btn btn-primary w-md waves-effect waves-light" type="submit"
                    (click)="onResetPassword()">Reset</button>
                </div>

              </form>
            </div>

          </div>
        </div>
        <div class="mt-5 text-center">
          <p>Remember It ? <a routerLink="/auth/login" class="fw-medium text-primary"> Sign In here</a> </p>
        </div>

      </div>
    </div>
  </div>
</div>